{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
  body{
  background-color: #485C6B;
  color: white
  }
  input, select{
  border-radius: 18px;
  border: none;
  width: 20%;
  text-align: center;
  }
</style>
<body>
    <h2>Edit Listing - {{ listing.name }}</h2>
    <form method="post" enctype="multipart/form-data">
       {% csrf_token %}

    <p>
      <label for="{{ form.name.id_for_label }}">Title:</label>
      {{ form.name }}
      {{ form.name.errors }}
          &emsp;
      <label for="{{ form.owner.id_for_label }}">Realtor:</label>
      {{ form.owner }}
      {{ form.owner.errors }}
        &emsp;&emsp;
    </p>
        <p>
      <label for="{{ form.street.id_for_label }}">Street:</label>
      {{ form.street }}
      {{ form.street.errors }}
    &emsp;&emsp;
      <label for="{{ form.city.id_for_label }}">City:</label>
      {{ form.city }}
      {{ form.city.errors }}

      <p>
      <label for="{{ form.state.id_for_label }}">State:</label>
      {{ form.state }}
      {{ form.state.errors }}

     &emsp;&emsp;
      <label for="{{ form.zipcode.id_for_label }}">Zipcode:</label>
      {{ form.zipcode }}
      {{ form.zipcode.errors }}
    </p>

    </p>


      <p>
      <label for="{{ form.property_price_range.id_for_label }}">Price range:</label>
      {{ form.property_price_range }}
      {{ form.property_price_range.errors }}
         &emsp;&emsp;
          <label for="{{ form.price.id_for_label }}">Price:</label>
      {{ form.price }}
      {{ form.price.errors }}
    </p>

    <p>
      <label for="{{ form.description.id_for_label }}">Description:</label>
      {{ form.description }}
      {{ form.description.errors }}
    </p>

      <p>
      <label for="{{ form.property_type.id_for_label }}">Home type:</label>
      {{ form.property_type }}
      {{ form.property_type.errors }}
         &emsp;&emsp;
        <label for="{{ form.neighborhood.id_for_label }}">Neighborhood:</label>
      {{ form.neighborhood }}
      {{ form.neighborhood.errors }}
    </p>


    <p>
      <label for="{{ form.photo1.id_for_label }}">Photo1:</label>
      {{ form.photo1 }}
      {{ form.photo1.errors }}
        </p>
        <p>
      <label for="{{ form.photo2.id_for_label }}">Photo2:</label>
      {{ form.photo2 }}
      {{ form.photo2.errors }}
    </p>

    <p>
      <label for="{{ form.photo3.id_for_label }}">Photo3:</label>
      {{ form.photo3 }}
      {{ form.photo3.errors }}
    </p>
<p>
      <label for="{{ form.photo4.id_for_label }}">Photo4:</label>
      {{ form.photo4 }}
      {{ form.photo4.errors }}
    </p>






    <p>
      <label for="{{ form.status.id_for_label }}">Status:</label>
      {{ form.status }}
      {{ form.status.errors }}
 &emsp;&emsp;
      <label for="{{ form.featured.id_for_label }}">Is Featured:</label>
      {{ form.featured }}
      {{ form.featured.errors }}
    </p>






    <button type="submit" style="background-color: white;border-radius: 16px; padding: 2px 20px;">Save</button>
    </form>
    <a href="{% url 'listing_detail' pk=listing.pk %}" style="color: white; text-decoration: none;margin-left: -30px;">Cancel</a>
    </body>
{% endblock %}
